<p class="titleListaUsuario">listar-usuarios works!</p>
<div class="listaUsuario">
    <table class="table">
        <thead>
            <tr>
                <td class="headerListUsuario">id</td>
                <td class="headerListUsuario">Nome</td>
                <td class="headerListUsuario">Idade</td>
                <td class="headerListUsuario">Perfil</td>
                <td class="headerListUsuario"></td>
                <td class="headerListUsuario"></td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of listaUsuarios$ | async">
                <td>{{ row.id}}</td>
                <td>{{row.nome}}</td>
                <td>{{row.idade}}</td>
                <td>{{row.perfil}}</td>
                <td>
                    <button 
                        class="btn btn-primary"
                        data-bs-toggle="modal" 
                        data-bs-target="#exampleModal" 
                        (click)="editar(row.id)">Editar
                    </button>
                </td>
                <td><button class="btn btn-danger" (click)="excluir(row.id)">Excluir</button></td>
            </tr>
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="(usuario$ | async) as usuario">
            <form id="myForm" #f="ngForm" (ngSubmit)="atualizarUsuario(f)">
                <div class="col-6" style="display: block;">
                    <label for="id">Id</label>
                    <input id="id" name="id" class="form-control" type="text" [(ngModel)]="usuario.id">
                </div>
                <div class="col-6">
                    <label for="nome">Nome</label>
                    <input id="nome" name="nome" class="form-control" type="text" [(ngModel)]="usuario.nome">
                </div>
                <div class="col-6">
                    <label for="idade">Idade</label>
                    <input id="idade" name="idade" class="form-control" type="text" [(ngModel)]="usuario.idade">
                </div>
                <div class="col-6">
                    <label for="perfil">Perfil</label>
                    <input id="perfil" name="perfil" class="form-control" type="text" [(ngModel)]="usuario.perfil">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Adicionar</button>
                  </div>
            </form>
        </div>
       
      </div>
    </div>
  </div>
